* {
    margin: 0;
}

header {
    display: flex;
    padding: 38px 10% 66px 10%;
    justify-content: space-around;
    color: #402922;

    h1 {
        font-family: 'Joti One';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 85px;
        letter-spacing: 0.03em;
        color: #402922;
    }
}

.input_task {
    display: flex;

    .inp {
        border: 5px solid #815F34;
        border-radius: 15px;
        width: 753px;
        height: 63px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 46px;
    }

    .btn {
        width: 109px;
        height: 63px;
        background: #FFFFFF;
        border: 5px solid #815F34;
        border-radius: 20px;
    }
}

.ul {
    padding-left: 0;

    .li {
        list-style-type: none;
    }
}